@charset "UTF-8";

.btn-tool.active {
    background-color: #C92039;
    color: #fff;
}

#video-area {
    width: 900px;
    height: 500px;
    background-color: #000;
    position: relative;
    overflow: hidden;
}

#video-area::before {
    content: "영화를 선택해 주세요.";
    color: #fff;
    font-size: 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#video-area video,
#video-area .clip-box,
#video-area .clip-box canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#time-area { width: 900px; }

#clip-area { width: 900px; position: relative; margin: 20px 0; }

#clip-area .line {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background-color: #eee;
    position: relative;
}

#clip-area .line .bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}

#clip-area .movie-line {
    background-color: #555;
}

#clip-area .clip-line {
    cursor: pointer;
}

#clip-area .clip-line input[type='checkbox'] {
    position: absolute;
    left: -30px;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

#clip-area .clip-line.active .bar {
    background-color: #C92039;
}


#clip-area .clip-line .left,
#clip-area .clip-line .right {
    width: 10px;
    cursor: w-resize;
    background-color: #bbb;
}

#clip-area .clip-line .center { width: calc(100% - 20px) }

#clip-area .clip-line.active .left,
#clip-area .clip-line.active .right {
    background-color: rgb(167, 20, 42);
} 

#clip-area #cursor {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #C92039;
    left: 0;
    top: 0;
    cursor: pointer;
}

#clip-area #cursor::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -2.5px;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #C92039;
}

#clip-area #cursor::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 10px;
    transform: translateX(-50%);
}


#movie-area { width: 900px; }
#movie-area img {
    pointer-events: all;
    cursor: pointer;
}