@charset "UTF-8";

/* font-size */
.fx-n4 { font-size: 0.8rem!important; }
.fx-n3 { font-size: 0.85rem!important; }
.fx-n2 { font-size: 0.9rem!important; }
.fx-n1 { font-size: 0.95rem!important; }

.fx-1 { font-size: 1rem!important; }
.fx-2 { font-size: 1.1rem!important; }
.fx-3 { font-size: 1.2rem!important; }
.fx-4 { font-size: 1.3rem!important; }
.fx-5 { font-size: 1.5rem!important; }
.fx-6 { font-size: 1.8rem!important; }
.fx-7 { font-size: 2.3rem!important; }
.fx-8 { font-size: 2.8rem!important; }
.fx-9 { font-size: 3.5rem!important; }

/* width */

.mhx-480 { width: 480px; }
.wx-30 { width: 30px!important; }
.wx-50 { width: 50px!important; }
.wx-80 { width: 80px!important; }
.wx-100 { width: 100px!important; }
.wx-150 { width: 150px!important; }
.wx-200 { width: 200px!important; }
.wx-250 { width: 250px!important; }
.wx-300 { width: 300px!important; }
.wx-350 { width: 350px!important; }
.wx-400 { width: 400px!important; }

.split-1 { max-width: calc(100% * 1 / 12); flex: calc(100% * 1 / 12); }
.split-2 { max-width: calc(100% * 2 / 12); flex: calc(100% * 2 / 12); }
.split-3 { max-width: calc(100% * 3 / 12); flex: calc(100% * 3 / 12); }
.split-4 { max-width: calc(100% * 4 / 12); flex: calc(100% * 4 / 12); }
.split-5 { max-width: calc(100% * 5 / 12); flex: calc(100% * 5 / 12); }
.split-6 { max-width: calc(100% * 6 / 12); flex: calc(100% * 6 / 12); }
.split-7 { max-width: calc(100% * 7 / 12); flex: calc(100% * 7 / 12); }
.split-8 { max-width: calc(100% * 8 / 12); flex: calc(100% * 8 / 12); }
.split-9 { max-width: calc(100% * 9 / 12); flex: calc(100% * 9 / 12); }
.split-10 { max-width: calc(100% * 10 / 12); flex: calc(100% * 10 / 12); }
.split-11 { max-width: calc(100% * 11 / 12); flex: calc(100% * 11 / 12); }
.split-12 { max-width: calc(100% * 12 / 12); flex: calc(100% * 12 / 12); }

/* height */

.h-100 { height: 100%!important; }

.hx-30 { height: 30px!important; }
.hx-50 { height: 50px!important; }
.hx-80 { height: 80px!important; }
.hx-100 { height: 100px!important; }
.hx-150 { height: 150px!important; }
.hx-200 { height: 200px!important; }
.hx-250 { height: 250px!important; }
.hx-300 { height: 300px!important; }
.hx-350 { height: 350px!important; }
.hx-400 { height: 400px!important; }


/* margin */

.m-0 { margin: 0!important; }
.m-1 { margin: 5px!important; }
.m-2 { margin: 10px!important; }
.m-3 { margin: 15px!important; }
.m-4 { margin: 30px!important; }
.m-5 { margin: 50px!important; }

.mx-auto { margin: 0 auto!important; }
.mx-0 { margin-left: 0!important; margin-right: 0!important; }
.mx-1 { margin-left: 5px!important; margin-right: 5px!important; }
.mx-2 { margin-left: 10px!important; margin-right: 10px!important; }
.mx-3 { margin-left: 15px!important; margin-right: 15px!important; }
.mx-4 { margin-left: 30px!important; margin-right: 30px!important; }
.mx-5 { margin-left: 50px!important; margin-right: 50px!important; }

.my-0 { margin-top: 0!important; margin-bottom: 0!important; }
.my-1 { margin-top: 5px!important; margin-bottom: 5px!important; }
.my-2 { margin-top: 10px!important; margin-bottom: 10px!important; }
.my-3 { margin-top: 15px!important; margin-bottom: 15px!important; }
.my-4 { margin-top: 30px!important; margin-bottom: 30px!important; }
.my-5 { margin-top: 50px!important; margin-bottom: 50px!important; }

.mt-0 { margin-top: 0!important; }
.mt-1 { margin-top: 5px!important; }
.mt-2 { margin-top: 10px!important; }
.mt-3 { margin-top: 15px!important; }
.mt-4 { margin-top: 30px!important; }
.mt-5 { margin-top: 50px!important; }

.ml-0 { margin-left: 0!important; }
.ml-1 { margin-left: 5px!important; }
.ml-2 { margin-left: 10px!important; }
.ml-3 { margin-left: 15px!important; }
.ml-4 { margin-left: 30px!important; }
.ml-5 { margin-left: 50px!important; }

.mb-0 { margin-bottom: 0!important; }
.mb-1 { margin-bottom: 5px!important; }
.mb-2 { margin-bottom: 10px!important; }
.mb-3 { margin-bottom: 15px!important; }
.mb-4 { margin-bottom: 30px!important; }
.mb-5 { margin-bottom: 50px!important; }

.mr-0 { margin-right: 0!important; }
.mr-1 { margin-right: 5px!important; }
.mr-2 { margin-right: 10px!important; }
.mr-3 { margin-right: 15px!important; }
.mr-4 { margin-right: 30px!important; }
.mr-5 { margin-right: 50px!important; }


/* padding */

.p-0 { padding: 0!important; }
.p-1 { padding: 5px!important; }
.p-2 { padding: 10px!important; }
.p-3 { padding: 15px!important; }
.p-4 { padding: 30px!important; }
.p-5 { padding: 50px!important; }

.px-auto { padding: 0 auto!important; }
.px-0 { padding-left: 0!important; padding-right: 0!important; }
.px-1 { padding-left: 5px!important; padding-right: 5px!important; }
.px-2 { padding-left: 10px!important; padding-right: 10px!important; }
.px-3 { padding-left: 15px!important; padding-right: 15px!important; }
.px-4 { padding-left: 30px!important; padding-right: 30px!important; }
.px-5 { padding-left: 50px!important; padding-right: 50px!important; }

.py-0 { padding-top: 0!important; padding-bottom: 0!important; }
.py-1 { padding-top: 5px!important; padding-bottom: 5px!important; }
.py-2 { padding-top: 10px!important; padding-bottom: 10px!important; }
.py-3 { padding-top: 15px!important; padding-bottom: 15px!important; }
.py-4 { padding-top: 30px!important; padding-bottom: 30px!important; }
.py-5 { padding-top: 50px!important; padding-bottom: 50px!important; }

.pt-0 { padding-top: 0!important; }
.pt-1 { padding-top: 5px!important; }
.pt-2 { padding-top: 10px!important; }
.pt-3 { padding-top: 15px!important; }
.pt-4 { padding-top: 30px!important; }
.pt-5 { padding-top: 50px!important; }

.pl-0 { padding-left: 0!important; }
.pl-1 { padding-left: 5px!important; }
.pl-2 { padding-left: 10px!important; }
.pl-3 { padding-left: 15px!important; }
.pl-4 { padding-left: 30px!important; }
.pl-5 { padding-left: 50px!important; }

.pb-0 { padding-bottom: 0!important; }
.pb-1 { padding-bottom: 5px!important; }
.pb-2 { padding-bottom: 10px!important; }
.pb-3 { padding-bottom: 15px!important; }
.pb-4 { padding-bottom: 30px!important; }
.pb-5 { padding-bottom: 50px!important; }

.pr-0 { padding-right: 0!important; }
.pr-1 { padding-right: 5px!important; }
.pr-2 { padding-right: 10px!important; }
.pr-3 { padding-right: 15px!important; }
.pr-4 { padding-right: 30px!important; }
.pr-5 { padding-right: 50px!important; }


@media(max-width: 992px) {
    /* font-size */
    .fx-sm-n4 { font-size: 0.8rem!important; }
    .fx-sm-n3 { font-size: 0.85rem!important; }
    .fx-sm-n2 { font-size: 0.9rem!important; }
    .fx-sm-n1 { font-size: 0.95rem!important; }

    .fx-sm-1 { font-size: 1rem!important; }
    .fx-sm-2 { font-size: 1.1rem!important; }
    .fx-sm-3 { font-size: 1.2rem!important; }
    .fx-sm-4 { font-size: 1.3rem!important; }
    .fx-sm-5 { font-size: 1.5rem!important; }
    .fx-sm-6 { font-size: 1.8rem!important; }
    .fx-sm-7 { font-size: 2.3rem!important; }
    .fx-sm-8 { font-size: 2.8rem!important; }
    .fx-sm-9 { font-size: 3.5rem!important; }

    /* width */
    .mhx-sm-480 { width: 480px; }
    .wx-sm-30 { width: 30px!important; }
    .wx-sm-50 { width: 50px!important; }
    .wx-sm-80 { width: 80px!important; }
    .wx-sm-100 { width: 100px!important; }
    .wx-sm-150 { width: 150px!important; }
    .wx-sm-200 { width: 200px!important; }
    .wx-sm-250 { width: 250px!important; }
    .wx-sm-300 { width: 300px!important; }
    .wx-sm-350 { width: 350px!important; }
    .wx-sm-400 { width: 400px!important; }

    .split-sm-1 { max-width: calc(100% * 1 / 12); flex: calc(100% * 1 / 12); }
    .split-sm-2 { max-width: calc(100% * 2 / 12); flex: calc(100% * 2 / 12); }
    .split-sm-3 { max-width: calc(100% * 3 / 12); flex: calc(100% * 3 / 12); }
    .split-sm-4 { max-width: calc(100% * 4 / 12); flex: calc(100% * 4 / 12); }
    .split-sm-5 { max-width: calc(100% * 5 / 12); flex: calc(100% * 5 / 12); }
    .split-sm-6 { max-width: calc(100% * 6 / 12); flex: calc(100% * 6 / 12); }
    .split-sm-7 { max-width: calc(100% * 7 / 12); flex: calc(100% * 7 / 12); }
    .split-sm-8 { max-width: calc(100% * 8 / 12); flex: calc(100% * 8 / 12); }
    .split-sm-9 { max-width: calc(100% * 9 / 12); flex: calc(100% * 9 / 12); }
    .split-sm-10 { max-width: calc(100% * 10 / 12); flex: calc(100% * 10 / 12); }
    .split-sm-11 { max-width: calc(100% * 11 / 12); flex: calc(100% * 11 / 12); }
    .split-sm-12 { max-width: calc(100% * 12 / 12); flex: calc(100% * 12 / 12); }

    /* height */

    .h-sm-100 { height: 100%!important; }

    .hx-sm-30 { height: 30px!important; }
    .hx-sm-50 { height: 50px!important; }
    .hx-sm-100 { height: 100px!important; }
    .hx-sm-150 { height: 150px!important; }
    .hx-sm-200 { height: 200px!important; }
    .hx-sm-250 { height: 250px!important; }
    .hx-sm-300 { height: 300px!important; }
    .hx-sm-350 { height: 350px!important; }
    .hx-sm-400 { height: 400px!important; }


    /* margin */

    .m-sm-0 { margin: 0!important; }
    .m-sm-1 { margin: 5px!important; }
    .m-sm-2 { margin: 10px!important; }
    .m-sm-3 { margin: 15px!important; }
    .m-sm-4 { margin: 30px!important; }
    .m-sm-5 { margin: 50px!important; }

    .mx-sm-auto { margin: 0 auto!important; }
    .mx-sm-0 { margin-left: 0!important; margin-right: 0!important; }
    .mx-sm-1 { margin-left: 5px!important; margin-right: 5px!important; }
    .mx-sm-2 { margin-left: 10px!important; margin-right: 10px!important; }
    .mx-sm-3 { margin-left: 15px!important; margin-right: 15px!important; }
    .mx-sm-4 { margin-left: 30px!important; margin-right: 30px!important; }
    .mx-sm-5 { margin-left: 50px!important; margin-right: 50px!important; }

    .my-sm-0 { margin-top: 0!important; margin-bottom: 0!important; }
    .my-sm-1 { margin-top: 5px!important; margin-bottom: 5px!important; }
    .my-sm-2 { margin-top: 10px!important; margin-bottom: 10px!important; }
    .my-sm-3 { margin-top: 15px!important; margin-bottom: 15px!important; }
    .my-sm-4 { margin-top: 30px!important; margin-bottom: 30px!important; }
    .my-sm-5 { margin-top: 50px!important; margin-bottom: 50px!important; }

    .mt-sm-0 { margin-top: 0!important; }
    .mt-sm-1 { margin-top: 5px!important; }
    .mt-sm-2 { margin-top: 10px!important; }
    .mt-sm-3 { margin-top: 15px!important; }
    .mt-sm-4 { margin-top: 30px!important; }
    .mt-sm-5 { margin-top: 50px!important; }

    .ml-sm-0 { margin-left: 0!important; }
    .ml-sm-1 { margin-left: 5px!important; }
    .ml-sm-2 { margin-left: 10px!important; }
    .ml-sm-3 { margin-left: 15px!important; }
    .ml-sm-4 { margin-left: 30px!important; }
    .ml-sm-5 { margin-left: 50px!important; }

    .mb-sm-0 { margin-bottom: 0!important; }
    .mb-sm-1 { margin-bottom: 5px!important; }
    .mb-sm-2 { margin-bottom: 10px!important; }
    .mb-sm-3 { margin-bottom: 15px!important; }
    .mb-sm-4 { margin-bottom: 30px!important; }
    .mb-sm-5 { margin-bottom: 50px!important; }

    .mr-sm-0 { margin-right: 0!important; }
    .mr-sm-1 { margin-right: 5px!important; }
    .mr-sm-2 { margin-right: 10px!important; }
    .mr-sm-3 { margin-right: 15px!important; }
    .mr-sm-4 { margin-right: 30px!important; }
    .mr-sm-5 { margin-right: 50px!important; }


    /* padding */

    .p-sm-0 { padding: 0!important; }
    .p-sm-1 { padding: 5px!important; }
    .p-sm-2 { padding: 10px!important; }
    .p-sm-3 { padding: 15px!important; }
    .p-sm-4 { padding: 30px!important; }
    .p-sm-5 { padding: 50px!important; }

    .px-sm-auto { padding: 0 auto!important; }
    .px-sm-0 { padding-left: 0!important; padding-right: 0!important; }
    .px-sm-1 { padding-left: 5px!important; padding-right: 5px!important; }
    .px-sm-2 { padding-left: 10px!important; padding-right: 10px!important; }
    .px-sm-3 { padding-left: 15px!important; padding-right: 15px!important; }
    .px-sm-4 { padding-left: 30px!important; padding-right: 30px!important; }
    .px-sm-5 { padding-left: 50px!important; padding-right: 50px!important; }

    .py-sm-0 { padding-top: 0!important; padding-bottom: 0!important; }
    .py-sm-1 { padding-top: 5px!important; padding-bottom: 5px!important; }
    .py-sm-2 { padding-top: 10px!important; padding-bottom: 10px!important; }
    .py-sm-3 { padding-top: 15px!important; padding-bottom: 15px!important; }
    .py-sm-4 { padding-top: 30px!important; padding-bottom: 30px!important; }
    .py-sm-5 { padding-top: 50px!important; padding-bottom: 50px!important; }

    .pt-sm-0 { padding-top: 0!important; }
    .pt-sm-1 { padding-top: 5px!important; }
    .pt-sm-2 { padding-top: 10px!important; }
    .pt-sm-3 { padding-top: 15px!important; }
    .pt-sm-4 { padding-top: 30px!important; }
    .pt-sm-5 { padding-top: 50px!important; }

    .pl-sm-0 { padding-left: 0!important; }
    .pl-sm-1 { padding-left: 5px!important; }
    .pl-sm-2 { padding-left: 10px!important; }
    .pl-sm-3 { padding-left: 15px!important; }
    .pl-sm-4 { padding-left: 30px!important; }
    .pl-sm-5 { padding-left: 50px!important; }

    .pb-sm-0 { padding-bottom: 0!important; }
    .pb-sm-1 { padding-bottom: 5px!important; }
    .pb-sm-2 { padding-bottom: 10px!important; }
    .pb-sm-3 { padding-bottom: 15px!important; }
    .pb-sm-4 { padding-bottom: 30px!important; }
    .pb-sm-5 { padding-bottom: 50px!important; }

    .pr-sm-0 { padding-right: 0!important; }
    .pr-sm-1 { padding-right: 5px!important; }
    .pr-sm-2 { padding-right: 10px!important; }
    .pr-sm-3 { padding-right: 15px!important; }
    .pr-sm-4 { padding-right: 30px!important; }
    .pr-sm-5 { padding-right: 50px!important; }
}